<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="mariaDBSinkOptions" type="Nerdle.AutoConfig.Section, Nerdle.AutoConfig" />
    </configSections>

    <mariaDBSinkOptions>
        <hashMessageTemplate>false</hashMessageTemplate>
        <timestampInUtc>true</timestampInUtc>
        <excludePropertiesWithDedicatedColumn>false</excludePropertiesWithDedicatedColumn>
        <enumsAsInts>false</enumsAsInts>
        <logRecordsExpiration>31.00:00:00</logRecordsExpiration>
        <logRecordsCleanupFrequency>05:00:00</logRecordsCleanupFrequency>
        <deleteChunkSize>2000</deleteChunkSize>

        <propertiesToColumnsMapping>
            <word key="Exception" value="Exception" />
            <word key="Level" value="LogLevel" />
            <word key="Message" value="Message" />
            <word key="MessageTemplate" value="MessageTemplate" />
            <word key="Properties" value="Properties" />
            <word key="Timestamp" value="Timestamp" />
            <word key="Test" value="Test" />
            
        </propertiesToColumnsMapping>
    </mariaDBSinkOptions>

    <appSettings>
        <add key="serilog:using:MariaDB" value="Serilog.Sinks.MariaDB" />
        <add key="serilog:write-to:MariaDB"/>
        <add key="serilog:write-to:MariaDB.connectionString" value="server=127.0.0.1;user id=test;password=user;port=3307;database=message-logging;"/>
        <add key="serilog:write-to:MariaDB.autoCreateTable" value="false"/>
        <add key="serilog:write-to:MariaDB.tableName" value="messagelogs"/>
        <add key="serilog:write-to:MariaDB.logRecordsCleanupFrequency" value="0.02:00:00"/>
        <add key="serilog:write-to:MariaDB.logRecordsExpiration" value="31.00:00:00"/>
        <add key="serilog:write-to:MariaDB.useBulkInsert" value="true"/>
        <add key="serilog:write-to:MariaDB.batchPostingLimit" value="50"/>
        <add key="serilog:write-to:MariaDB.period" value="0.00:00:05"/>
    </appSettings>
</configuration>